<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.voctrainer">

    <uses-sdk android:targetSdkVersion="29"/>

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>


    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <!-- To Receive CSV Files-->
            <intent-filter>
                <action android:name="android.intent.action.SEND" />
                <action android:name="android.intent.action.SEND_MULTIPLE" />
                <action android:name="android.intent.action.VIEW" />
                <action android:name="android.intent.action.OPEN_DOCUMENT" />
                <action android:name="android.intent.action.PICK" />
                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.ALTERNATIVE" />
                <data android:scheme="content" />
                <data android:mimeType="text/comma-separated-values"/>
                <data android:mimeType="text/csv"/>
                <data android:mimeType="text/plain"/>
                <data android:mimeType="application/vnd.ms-excel"/>
            </intent-filter>


        </activity>
        <!-- To Send CSV Files-->
        <provider
            android:authorities="${applicationId}.contentprovider"
            android:name="androidx.core.content.FileProvider"
            android:grantUriPermissions="true"
            android:exported="false">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />

        </provider>


        <receiver android:name=".moduls.settings.alarm.AlarmReceiver"
            android:enabled="true">

        </receiver>
        
        
        




    </application>

</manifest>